# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: examples

on:
  push:
    branches: ["main"]
    paths:
      - ".github/workflows/examples.yml"
      - 'src/pytest_celery/vendors/worker/**'
      - "**.py"
      - "**.txt"
      - "**.toml"
      - "tox.ini"
      - 'Dockerfile'
      - "poetry.lock"
  pull_request:
    paths:
      - ".github/workflows/examples.yml"
      - 'src/pytest_celery/vendors/worker/**'
      - "**.py"
      - "**.txt"
      - "**.toml"
      - "tox.ini"
      - 'Dockerfile'
      - "poetry.lock"

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  celery_bug_report:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12"]
        os: ["blacksmith-4vcpu-ubuntu-2204"]

    steps:
      - name: Install apt packages
        run: |
          sudo apt update
          sudo apt-get install -y procps  # Install procps to enable sysctl
          sudo sysctl -w vm.overcommit_memory=1
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: useblacksmith/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: '**/setup.py'
      - name: Install dependencies
        working-directory: examples
        run: |
          python -m pip install --upgrade pip pytest-cov
          pip install -U "pytest-celery[all]@git+https://github.com/celery/pytest-celery.git"

      - name: Run tests
        working-directory: examples
        timeout-minutes: 5
        run: |
          pytest -xsv celery_bug_report.py --no-cov

  myworker:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12"]
        os: ["blacksmith-4vcpu-ubuntu-2204"]

    steps:
      - name: Install apt packages
        run: |
          sudo apt update
          sudo apt-get install -y procps  # Install procps to enable sysctl
          sudo sysctl -w vm.overcommit_memory=1
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: useblacksmith/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: '**/setup.py'
      - name: Install dependencies
        working-directory: examples/myworker
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        working-directory: examples/myworker
        timeout-minutes: 10
        run: |
          pytest -xsv tests --reruns 3 --reruns-delay 10

  range:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12"]
        os: ["blacksmith-4vcpu-ubuntu-2204"]

    steps:
      - name: Install apt packages
        run: |
          sudo apt update
          sudo apt-get install -y procps  # Install procps to enable sysctl
          sudo sysctl -w vm.overcommit_memory=1
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: useblacksmith/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: '**/setup.py'
      - name: Install dependencies
        working-directory: examples/range
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        working-directory: examples/range
        timeout-minutes: 30
        run: |
          pytest -xsv tests --reruns 3 --reruns-delay 10

  rabbitmq_management:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12"]
        os: ["blacksmith-4vcpu-ubuntu-2204"]

    steps:
      - name: Install apt packages
        run: |
          sudo apt update
          sudo apt-get install -y procps  # Install procps to enable sysctl
          sudo sysctl -w vm.overcommit_memory=1
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: useblacksmith/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: '**/setup.py'
      - name: Install dependencies
        working-directory: examples/rabbitmq_management
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        working-directory: examples/rabbitmq_management
        timeout-minutes: 10
        run: |
          pytest -xsv tests --reruns 3 --reruns-delay 10

  django:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12"]
        os: ["blacksmith-4vcpu-ubuntu-2204"]

    steps:
      - name: Install apt packages
        run: |
          sudo apt update
          sudo apt-get install -y procps  # Install procps to enable sysctl
          sudo sysctl -w vm.overcommit_memory=1
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: useblacksmith/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: '**/setup.py'
      - name: Install dependencies
        working-directory: examples/django
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Migrations
        working-directory: examples/django
        run: |
          ./manage.py migrate

      - name: Run tests
        working-directory: examples/django
        timeout-minutes: 10
        run: |
          export DJANGO_SETTINGS_MODULE=proj.settings
          pytest -xsv tests --reruns 3 --reruns-delay 10

  myutils:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12"]
        os: ["blacksmith-4vcpu-ubuntu-2204"]

    steps:
      - name: Install apt packages
        run: |
          sudo apt update
          sudo apt-get install -y procps  # Install procps to enable sysctl
          sudo sysctl -w vm.overcommit_memory=1
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: useblacksmith/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: '**/setup.py'
      - name: Install dependencies
        working-directory: examples/myutils
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        working-directory: examples/myutils
        timeout-minutes: 10
        run: |
          pytest -xsv tests --reruns 3 --reruns-delay 10

  worker_pool:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12"]
        os: ["blacksmith-4vcpu-ubuntu-2204"]

    steps:
      - name: Install apt packages
        run: |
          sudo apt update
          sudo apt-get install -y procps  # Install procps to enable sysctl
          sudo sysctl -w vm.overcommit_memory=1
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: useblacksmith/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: '**/setup.py'
      - name: Install dependencies
        working-directory: examples/worker_pool
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        working-directory: examples/worker_pool
        timeout-minutes: 10
        run: |
          pytest -xsv tests --reruns 3 --reruns-delay 10

  hybrid_setup:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12"]
        os: ["blacksmith-4vcpu-ubuntu-2204"]

    steps:
      - name: Install apt packages
        run: |
          sudo apt update
          sudo apt-get install -y procps  # Install procps to enable sysctl
          sudo sysctl -w vm.overcommit_memory=1
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: useblacksmith/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: '**/setup.py'
      - name: Install dependencies
        working-directory: examples/hybrid_setup
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        working-directory: examples/hybrid_setup
        timeout-minutes: 10
        run: |
          pytest -xsv tests --reruns 5 --reruns-delay 10

  vhost:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12"]
        os: ["blacksmith-4vcpu-ubuntu-2204"]

    steps:
      - name: Install apt packages
        run: |
          sudo apt update
          sudo apt-get install -y procps  # Install procps to enable sysctl
          sudo sysctl -w vm.overcommit_memory=1
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: useblacksmith/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: '**/setup.py'
      - name: Install dependencies
        working-directory: examples/vhost
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        working-directory: examples/vhost
        timeout-minutes: 10
        run: |
          pytest -xsv tests --reruns 3 --reruns-delay 10
