name: Linter

on: [pull_request]

jobs:
  check:
    name: ${{ matrix.check }} check
    runs-on: blacksmith-4vcpu-ubuntu-2204
    strategy:
      matrix:
        check: [lint, mypy]
    steps:
      - name: Checkout branch
        uses: actions/checkout@v6

      - name: Install apt packages
        run: |
          sudo apt update

      - name: Set up Python 3.13
        uses: useblacksmith/setup-python@v6
        with:
          python-version: '3.13'
          cache: 'pip'
          cache-dependency-path: '**/setup.py'

      - name: Install Poetry
        uses: snok/install-poetry@v1.4.1
        with:
          version: 2.2.1

      - name: Install CI dependencies
        run: |
          poetry config virtualenvs.create false
          poetry install --only ci

      - name: Run check
        run: tox -e ${{ matrix.check }}
