name: Linter

on: [pull_request]

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout branch
        uses: actions/checkout@v4

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.0

  mypy:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout branch
        uses: actions/checkout@v4

      - name: Install apt packages
        run: sudo apt update

      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install tox-gh-actions

      - name: Install Poetry
        uses: snok/install-poetry@v1.3.4

      - name: Install tox and mypy
        run: poetry install --with dev,test,ci

      - name: Run mypy
        run: tox -e mypy
